 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/2b3f429e-62d1-4acb-a4a7-ccfa6fba0258.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 417px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 306px;
  --radius: 50px;
  margin: 56px auto 0 -3px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  font-size: 6rem;
  margin: -206px 0 60px 261px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 80px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -192px;
    margin-right: 153px;
    margin-left: 330px;
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-image-1 {
    width: 189px;
    height: 227px;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -153px;
    margin-right: 0;
    margin-left: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-1 .u-image-1 {
    width: 155px;
    height: 186px;
    margin-top: 67px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -126px;
    margin-left: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-image-1 {
    width: 132px;
    height: 161px;
    margin-top: 25px;
    margin-left: -13px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -97px;
    margin-left: 119px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 660px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 27px -50px 0;
}

.u-section-2 .u-gallery-1 {
  height: 486px;
  margin-top: 8px;
  margin-bottom: 7px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-1 {
  width: 375px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-2 {
  width: 375px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-3 {
  width: 375px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-4 {
  width: 375px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-5 {
  width: 375px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-6 {
  width: 375px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-7 {
  width: 375px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-8 {
  width: 375px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 722px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 16px;
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-gallery-1 {
    height: 500px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 642px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 36px -50px 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 0 0 23px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12px));
  min-height: 451px;
  grid-auto-columns: calc(25% - 12px);
  grid-gap: 16px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/d7477a7f-aa68-49c5-ac94-6739ac09ea05.jpg');
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 12px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.5rem;
  margin: 28px 18px 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/3ba494a0-de56-4632-9feb-07050ebae26c.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 12px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.5rem;
  margin: 28px 18px 0;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/7e694e3a-1854-4212-9ef8-512bc8ef5fef.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 12px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.5rem;
  margin: 28px 18px 0;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/489d024a-17f2-45b9-9141-386f820b53c1.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 12px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.5rem;
  margin: 28px 18px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 368px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1365px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: -50px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    min-height: 1162px;
    grid-auto-columns: calc(50% - 8px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3150px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 18px;
    margin-right: -50px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3053px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
    width: auto;
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 3rem;
    width: auto;
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2097px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 22px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2012px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
    margin-top: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 678px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/7c207b9a-132c-4ea0-b8b5-feea5a915c2e.jpg");
  min-height: 653px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 653px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-list-1 {
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 464px;
  grid-gap: 32px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-4 .u-image-1 {
    min-height: 539px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 374px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: -20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-left: -20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
    width: auto;
    margin-left: -20px;
  }

  .u-section-4 .u-text-7 {
    font-size: 2.25rem;
    width: auto;
    margin-left: -20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1416px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 2px;
  }

  .u-section-4 .u-image-1 {
    min-height: 855px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 27px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 16px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-4 .u-image-1 {
    min-height: 620px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 390px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 828px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 3rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1178px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 28px 0 25px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/b091170e-8221-4566-b4bd-42e05d32dd45.jpg");
  background-position: 50% 50%;
  min-height: 613px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 512px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 8px 8px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 16px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 343px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-5 .u-image-2 {
  background-image: url("images/91f9558a-bbfe-478d-89c1-ebaa921be997.jpg");
  background-position: 50% 50%;
  min-height: 782px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  background-image: url("images/968e7f86-f342-45d2-87a1-926655c726e2.jpg");
  background-position: 50% 50%;
  min-height: 614px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 511px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 506px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 283px;
  }

  .u-section-5 .u-image-2 {
    min-height: 644px;
  }

  .u-section-5 .u-image-3 {
    min-height: 506px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2156px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 764px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    min-height: 740px;
  }

  .u-section-5 .u-image-3 {
    min-height: 581px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3132px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 573px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-2 {
    order: 0;
    min-height: 1110px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 872px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2352px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 361px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    min-height: 699px;
  }

  .u-section-5 .u-image-3 {
    min-height: 549px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-6 {
  min-height: 827px;
}

.u-section-6 .u-image-1 {
  height: 630px;
  margin: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 997px;
  margin: -433px auto 58px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-6 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-6 .u-list-1 {
  grid-auto-rows: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 370px;
  grid-auto-columns: 100%;
  grid-gap: 20px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px 20px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-6 .u-icon-1 {
  margin-left: 5px;
}

.u-section-6 .u-text-2 {
  margin: 11px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px 20px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-6 .u-icon-2 {
  font-size: 0.95em;
  margin-left: 5px;
}

.u-section-6 .u-text-4 {
  margin: 11px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 30px 20px 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-6 .u-icon-3 {
  margin-left: 5px;
}

.u-section-6 .u-text-6 {
  margin: 11px 0 0;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-social-icons-1 {
  height: 66px;
  min-height: 16px;
  width: 218px;
  min-width: 68px;
  margin: 32px auto 0 103px;
}

.u-section-6 .u-icon-4 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-6 .u-icon-5 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-6 .u-icon-6 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 543px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  font-weight: 400;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 5px auto 0;
}

.u-section-6 .u-form-1 {
  height: 375px;
  width: 417px;
  margin: 33px auto 0;
}

.u-section-6 .u-label-1 {
  font-size: 1rem;
}

.u-section-6 .u-label-2 {
  font-size: 1rem;
}

.u-section-6 .u-label-3 {
  font-size: 1rem;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 796px;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 5px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 5px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 5px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 8px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 512px;
  }

  .u-section-6 .u-text-7 {
    font-weight: 700;
    font-size: 3rem;
  }

  .u-section-6 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 682px;
  }

  .u-section-6 .u-image-1 {
    height: 544px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -444px;
    margin-bottom: 24px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-form-1 {
    width: 300px;
  }

  .u-section-6 .u-label-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-label-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-label-3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1245px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -401px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-form-1 {
    height: 405px;
    width: 410px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1115px;
  }

  .u-section-6 .u-image-1 {
    height: 419px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-form-1 {
    width: 320px;
  }
} .u-section-7 {
  min-height: 500px;
}