 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/2b3f429e-62d1-4acb-a4a7-ccfa6fba0258.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 398px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 306px;
  --radius: 50px;
  margin: 18px auto 0 18px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  font-size: 6rem;
  margin: -206px 171px 60px 376px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 80px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -192px;
    margin-right: 153px;
    margin-left: 330px;
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-image-1 {
    width: 189px;
    height: 227px;
    margin-top: 57px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -168px;
    margin-right: 48px;
    margin-left: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-1 .u-image-1 {
    width: 155px;
    height: 186px;
    margin-top: 67px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -126px;
    margin-right: 0;
    margin-left: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-1 .u-image-1 {
    width: 132px;
    height: 161px;
    margin-top: 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -99px;
    margin-right: -32px;
    margin-left: 52px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 743px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 62px auto 0;
}

.u-section-2 .u-gallery-1 {
  margin-top: 29px;
  margin-bottom: 60px;
  height: 540px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-1 {
  width: 375px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-2 {
  width: 375px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-3 {
  width: 375px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-4 {
  width: 375px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-5 {
  width: 375px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-6 {
  width: 375px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-7 {
  width: 375px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-8 {
  width: 375px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 60px;
    margin-bottom: 31px;
    height: 323px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 769px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 65px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 65px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12px));
  min-height: 521px;
  grid-auto-columns: calc(25% - 12px);
  grid-gap: 16px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/d7477a7f-aa68-49c5-ac94-6739ac09ea05.jpg');
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 16px 12px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 18px;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/3ba494a0-de56-4632-9feb-07050ebae26c.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 16px 12px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 18px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/7e694e3a-1854-4212-9ef8-512bc8ef5fef.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 16px 12px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 18px;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/489d024a-17f2-45b9-9141-386f820b53c1.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 16px 12px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 426px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    min-height: 1162px;
    grid-auto-columns: calc(50% - 8px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2183px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1460px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 19px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1303px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 32px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 32px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 32px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 676px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 969px;
  margin: 60px auto;
}

.u-section-4 .u-image-1 {
  background-image: url("images/7c207b9a-132c-4ea0-b8b5-feea5a915c2e.jpg");
  min-height: 556px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 464px;
  grid-gap: 32px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 539px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 448px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: -20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-left: -20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
    width: auto;
    margin-left: -20px;
  }

  .u-section-4 .u-text-7 {
    font-size: 2.25rem;
    width: auto;
    margin-left: -20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 846px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 27px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 16px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 620px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 390px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 3rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1292px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/b091170e-8221-4566-b4bd-42e05d32dd45.jpg");
  background-position: 50% 50%;
  min-height: 628px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 524px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 70px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 523px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 125px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-image-2 {
  background-image: url("images/91f9558a-bbfe-478d-89c1-ebaa921be997.jpg");
  background-position: 50% 50%;
  min-height: 629px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  background-image: url("images/968e7f86-f342-45d2-87a1-926655c726e2.jpg");
  background-position: 50% 50%;
  min-height: 629px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 523px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 85px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-5 .u-image-1 {
    min-height: 518px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 431px;
  }

  .u-section-5 .u-image-2 {
    min-height: 519px;
  }

  .u-section-5 .u-image-3 {
    min-height: 519px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-5 .u-image-1 {
    min-height: 397px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    min-height: 398px;
  }

  .u-section-5 .u-image-3 {
    min-height: 398px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-5 .u-image-1 {
    min-height: 447px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 448px;
    order: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 448px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-5 .u-image-1 {
    min-height: 281px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    min-height: 282px;
  }

  .u-section-5 .u-image-3 {
    min-height: 282px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-6 {
  min-height: 976px;
}

.u-section-6 .u-image-1 {
  height: 630px;
  margin: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 997px;
  margin: -326px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 543px;
}

.u-section-6 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-6 .u-list-1 {
  grid-auto-rows: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 370px;
  grid-auto-columns: 100%;
  grid-gap: 20px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px 20px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-6 .u-icon-1 {
  margin-left: 5px;
}

.u-section-6 .u-text-2 {
  margin: 11px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px 20px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-6 .u-icon-2 {
  font-size: 0.95em;
  margin-left: 5px;
}

.u-section-6 .u-text-4 {
  margin: 11px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 30px 20px 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-6 .u-icon-3 {
  margin-left: 5px;
}

.u-section-6 .u-text-6 {
  margin: 11px 0 0;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 543px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  margin: 5px auto 0;
}

.u-section-6 .u-form-1 {
  height: 375px;
  width: 417px;
  margin: 33px auto 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 945px;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 5px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 5px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 5px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 8px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 512px;
  }

  .u-section-6 .u-text-7 {
    font-weight: 700;
    font-size: 3rem;
  }

  .u-section-6 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 965px;
  }

  .u-section-6 .u-image-1 {
    height: 544px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -229px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1535px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin: -227px auto 59px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-form-1 {
    height: 405px;
    width: 410px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1528px;
  }

  .u-section-6 .u-image-1 {
    height: 419px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -102px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-form-1 {
    width: 320px;
  }
} .u-section-7 {
  min-height: 500px;
}